<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>/skaiciavimas</title>
  </head>

  <body>
    <form action="/skaiciavimas">
      <label for="zenklas">Ką norėsite atlikti?</label><br />
      <select id="zenklai" name="zenklai">
        <br />
        <option value="sudeti">sudėti (+)</option>
        <option value="atimti">atimti (-)</option>
        <option value="sudauginti">sudauginti (*)</option>
        <option value="padalinti">padalinti (/)</option></select
      ><br />

      <label for="x">x</label><br />
      <input type="text" id="x" name="x" value="0" /><br />

      <label for="y">y</label><br />
      <input type="text" id="y" name="y" value="0" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
